*{
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    background: rgba(52, 225, 235, 0.6);
    border-bottom: 2px solid black;
    height: 11vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav {
    background: yellow;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/*nav {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    background-color: lightblue;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: right;*/
/*    align-items: center;*/

/*}*/

/*.navbar-item {*/
/*    display: flex;*/
/*    background-color: yellow;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

ul li {
    list-style: none;
    display: inline;
}

/*nav>ul>li:nth-child(4){*/
/*    display: none;*/
/*}*/

/*nav>ul>li:nth-child(5){*/
/*    display: none;*/
/*}*/
/*li[class="dropdown-hide"] {*/
/*    display: none;*/
/*}*/
.dropdown-hide {
    display: none;
}